.accordion {
  margin: 0 auto;
  width: 100%;
}
.accordion .title {
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #050505;
  position: relative;
  font-size: 14px;
  font-weight: 600;

  text-align: left;

  background: #f0f2f5;
  border: 1px solid #d5d8dc;
  box-sizing: border-box;
  border-radius: 4px;
}
.accordion .title.is-expanded {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.accordion .content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.2s;
  margin: 0;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.accordion .content p {
  margin: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.accordion .content.is-expanded {
  max-height: 500px;
  overflow-y: hidden;
}
.accordion .content.is-expanded p {
  opacity: 1;
  font-weight: 300;
  background-color: #ffffff;
}
