@import "./dropdown.scss";
@import "./accordion.scss";
@import "./accordion2.scss";

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@font-face {
  font-family: "Product Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium"),
    url("../fonts/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Product Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"),
    url("../fonts/ProductSans-Regular.woff") format("woff");
}

.main-content {
  margin-top: 75px;
  margin-bottom: 70px;
}

::placeholder {
  font-family: "Product Sans Regular";
}

.shadows {
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
}

body {
  background-color: #f9f9f9;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans Medium";
}

p,
small,
label,
button,
span,
input {
  font-family: "Product Sans Regular";
}

input,
textarea {
  transition-duration: 0.3s;
  &:focus {
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  }
}

.bold {
  font-weight: 600;
}

/**************************************/

.__login {
  background: #8854d0;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .__logo {
    text-align: center;
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  small {
    font-size: 14px;
  }

  ::placeholder {
    color: #bda5de;
    font-family: "Product Sans Regular";
  }
}

/**************************************/

.btn-link {
  text-decoration: none !important;
}

.btn {
  font-weight: 500;
}

.btn:focus {
  box-shadow: none;
}

.btn:active {
  transform: scale(0.99);
}

.main-btn {
  color: #fff;
  background-color: #8854d0;
  border-color: #8854d0;
  height: 36px;
  padding: 0 10px 0 10px;

  &:hover {
    color: #ddd;
  }
}

.main-btn-outline {
  color: #8854d0;
  background-color: #fff;
  border-color: #8854d0;
  height: 36px;

  &:hover {
    color: #fff;
    background-color: #8854d0;
  }
}

.main-btn-sm {
  height: 26px;
  padding: 0 10px 0 10px;
  margin: 3px;
}

.forms {
  color: white;
  border: 1px solid transparent;
  padding-left: 20px;
  height: 44px;
  top: 894px;
  background: #7b4cbc;
  border-radius: 4px;
  width: 100%;
  outline: none;

  &:focus {
    border: 1px solid #d7c9eb;
  }
}

.errspan {
  cursor: pointer;
  float: right;
  top: 45px;
  right: 12px;
  position: relative;
  z-index: 2;
  color: #ddd;
}

.splash {
  content: "";
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  margin-top: -70px;
}

.searchbar {
  border: 1px solid transparent;
  margin-left: 80px;
  padding-left: 20px;
  background: #f0f2f5;
  border-radius: 4px;
  width: 500px;
  height: 35px;
  outline: none;
}

.searchicon {
  float: left;
  top: 45px;
  left: 12px;
  position: absolute;
  z-index: 2;
  color: #ddd;
}

.titlebar {
  margin-left: 50px;
}

/********************************************/

.loading {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -30px;
  margin-left: -20px;
  border: 2px solid #8854d0;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  animation: spin 0.4s linear infinite;
}

.loader {
  display: inline-block;
  margin-top: 6px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  animation: spin 0.4s linear infinite;
}

.loader-dark {
  display: inline-block;
  margin-top: 6px;
  border: 2px solid #8854d0;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

/*************************************/

.mv-player {
  width: 100%;
  padding: 2px;
  border-radius: 8px;
}

/*****************************************/

.empty-instructor {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-map-modal {
  .modal-dialog {
    width: 350px;
  }
}

.main-form {
  border: 1px solid transparent;
  padding-left: 10px;
  height: 44px;
  top: 894px;
  background: #f0f2f5;
  border-radius: 4px;
  width: 100%;
  outline: none;
}

.upload-img {
  width: 182px;
  height: 106px;
  border-radius: 4px;
  border: 1px solid #8854d0;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.12);
}

.course-img {
  width: 182px;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.12);
}

/********************************************************/

.img-card {
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.12);
}

.card {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  border-radius: 8px;
  border: none;
}

/*******************************************************/

.course-card {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.08);
  border-radius: 4px;

  .course-img {
    width: 100%;
    height: 160px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  h6 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .desc {
    padding: 15px;
  }

  p {
    color: #a0a0a0;
    font-weight: normal;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1.2em;
    line-height: 1.4em;
    text-overflow: ellipsis;
  }

  &:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.08);

    img {
      transition-duration: 0.3s;
      filter: brightness(70%);
    }
  }
}

/***************************************************/

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

/*****************************************accordion course***/

@media only screen and (max-width: 600px) {
  .lectures {
    display: none !important;
  }

  .logo {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media only screen and (min-width: 900px) {
  .fixcard {
    position: fixed;
    width: 720px;
  }

  .content-pl {
    padding-left: 25px;
  }
}

.btn-loadmore {
  background: #d5d8dc;
  height: 55px;
  font-size: 14px;
  font-weight: bold;
}

/**************************************************/
.profile {
  height: 35px;
  width: 35px;
  border-radius: 45px;
}

/***************************************/

.covers {
  cursor: pointer;
  width: 182px;
  height: 106px;
  border-radius: 4px;
  border: 1px solid #8854d0;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.12);
  text-align: center;
  padding-top: 20px;
  input {
    display: none;
  }

  p {
    margin-top: 10px;
    color: #8854d0;
    font-size: 14px;
  }
}

/*******************************************/

.dnd-card {
  background: #f9f9f9;
  border-radius: 8px;
}

.child-card {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #f0f2f5;
  margin: 10px;
  padding: 10px;

  ::placeholder {
    font-size: 14px;
    font-family: "Product Sans Regular";
  }

  label {
    font-size: 13px;
  }
}

.add-new {
  background-color: #fbfbfc;
  height: 55px;
  font-size: 14px;
  font-weight: bold;
  color: #8854d0;

  &:hover {
    background: darken(#fbfbfc, 4%);
  }
}

.lecture-input {
  border: 1px solid transparent;
  padding-left: 10px;
  background: #f0f2f5;
  border-radius: 4px;
  height: 35px;
  width: 100%;
  outline: none;
}

.btn-addmore {
  background: #f0f2f5;
  border: 1px solid #f0f2f5;
  border-radius: 4px;
  &:hover {
    background: darken(#f0f2f5, 4%);
  }
}

.btn-icon {
  cursor: pointer;
  &:hover {
    background: #ddd;
    border-radius: 45px;
  }
}

.hide {
  display: none;
}
